.home-page .container {
}

section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


section > div {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

section :is(.left, .right) {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



section img{
    display: block;
    width: 510px;
    height: 353px;
    border: 0 solid #091013;
}

section .right img {
    right: 0;
    border-radius: 24px 0 0 24px;
}

section .left img {
    left: 0;
    border-radius: 0 24px 24px 0;
}

section .right .svg-container {
    position: relative;
    top: -18%;
    left: 5%;
}

section.hero  > div {
    height: 80vh;
    background: rgba(142, 255, 210, 0.07);
}

section.hero .right{
    align-items: end;
}


section .hero-title {
    font: 800 55px/60px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

section .hero-title span {
    color: var(--primary-color);
    white-space: nowrap;
}

section .hero-subtitle {
    font: 20px/28px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 24px 0 0;
}

.features h2 {
    font: 800 36px / 40px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(225, 221, 213);
    margin: 0;
}

.features div {
    font: 20px / 28px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(244, 224, 194);
    margin-top: 16px;
    text-align: justify;
    width: 92%;
}

section.features.odd {
    background: rgba(142, 255, 210, 0.03);
}

section.features.odd .left{
    align-items: start;
}

section.features.even {
    background: rgba(142, 255, 210, 0.07);
}
section.features.even .right{
    align-items: end;
}

section.testimonials {
    height: 30vh;
    background: var(--accent2-color);
}

section.testimonials > .testimonial{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.testimonials > .testimonial > p{
    font: 400 25px/28px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--text-color);
    width: 80%;
    margin: 0;
    text-align: justify;
}

section.testimonials > .testimonial > p::before, section.testimonials > .testimonial > p::after {
    content: "“";
    font-size: 60px;
    line-height: 0;
    position: relative;
    top: 20px;
    left: -0;
    color: var(--secondary-color);
}

section.testimonials .user{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.testimonials .user img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid var(--secondary-color);
}

section.testimonials .user  p {
    font: 600 20px/28px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--text-color);
    margin: 0;
}

section.cta {
    height: 100vh;
    /*background: var(--secondary-color-light);*/
}

section.cta > div {
    display: flex;
    height: 60vh;
    padding: 0 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    border-radius: 24px;
    color: var(--text-color);
    background: rgba(142, 255, 210, 0.07);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid var(--secondary-color-light);
}

section.cta > div p {
    font: 400 25px / 25px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 10px;
}

section.cta > div h2 {
    font: 700 50px / 50px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 10px;
}

section.cta > div h2 span {
    color: var(--primary-color);
}

section.cta > div button {
    font: 600 22px / 22px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid var(--secondary-color-light);
    background: var(--secondary-color-light);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

section.cta > div button:hover {
    transform: translate(0, -5px) scale(1.05);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    box-shadow: 0 0 5px var(--secondary-color-light);
    -webkit-text-stroke: 1px var(--almost-transparent-dark);
}